<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>677283175334-vhg4ti9r1h1qhijolvi18anrjmgishtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677283175334-vhg4ti9r1h1qhijolvi18anrjmgishtj</string>
	<key>API_KEY</key>
	<string>AIzaSyDJu_CPcgh9-_XNApSVQ1sVZxPkMs58qYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>677283175334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilqarilyasov.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>lambda-timeline-d1176</string>
	<key>STORAGE_BUCKET</key>
	<string>lambda-timeline-d1176.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677283175334:ios:d644ab2d9312451d</string>
	<key>DATABASE_URL</key>
	<string>https://lambda-timeline-d1176.firebaseio.com</string>
</dict>
</plist>